
.clang-format
*.json
ourScheme.exe
OurScheme/OurScheme.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcbkptlist
*.xcuserstate
*.xcuserstate
*.pbxproj
*.xcuserstate
OurScheme/OurScheme.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcexplist
*.xcuserstate
OurScheme/OurScheme.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
